$color-green: #5CAD34
$color-green-contrast: #36651e

$color-accent: $color-green
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2

$font-sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$font-serif: "Baskerville", "Times New Roman", "Times", serif

$heading-font-family: $font-sans
$body-font-family: $font-sans

$quote-font-family: $font-serif

$header-background: none
$header-logo-height: 50px
$header-logo-height-desktop: 80px
$header-border-bottom-width: 0
$hero-background-color: none
$footer-logo-height: $header-logo-height
$footer-logo-height-desktop: $header-logo-height-desktop
$footer-background-color: none

$block-testimonials-color: $color-green-contrast
